.amf-registration-portlet {

}

.panel-title {
  font-weight: bolder;
  font-size: larger;
  color: #0b5fff;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.field-group-title {
  margin-left: 50px !important;
}

.costume-control-label-gender {
  margin-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 2px;
}